.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body::before {
  position: absolute;
  content: '';
  background: rgb(77, 112, 176);
  box-shadow: 0 0 30px 60px rgb(133, 157, 215);
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
} */
body {
  background: url("./assets/pexels-kyla-rose-rockola-954677.jpg");
  background-size: cover;
  background-position: center;
}
.city-cards {
  display: flex;
  gap: 1rem;
}
.card-deck {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.card {
  width: 20rem;
  height: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  backdrop-filter: blur(18px) saturate(181%);
  -webkit-backdrop-filter: blur(6px) saturate(181%);
  background-color: rgba(153, 153, 153, 0.288);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: relative;
}
.card-image {
  width: 100%;
  height: 55%;
  padding: 0.5rem;
}
.card > .card-image > img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.card-body {
  padding: 1rem;
}
.card-header {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  font-weight: 600;
  color: #e0e0e9;
}
.card-content {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
  color: #d0c8c8;
  letter-spacing: 0.5px;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 1rem;
  width: 100%;
  bottom: 0;
  left: 0;
  font-weight: 600;
  color: #e0e0e9;
}

.container {
  display: flex;
  width: 70%;
  align-items: center;
  height: 80vh;
  padding: 0 4rem;
  backdrop-filter: blur(18px) saturate(181%);
  -webkit-backdrop-filter: blur(18px) saturate(181%);
  background-color: rgba(17, 25, 40, 0.51);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 6rem auto;
}
.image-part {
  width: 50%;
  height: 50%;
}
.image-part > img {
  width: 100%;
  height: 100%;
}
.desc-part {
  height: 50%;
  padding-left: 3rem;
  color: white;
  width: 50%;
}
.name-rate {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
}
.cuisine, .ingredient, .price{
  font-size: 1.5rem;
  margin-top: 1rem;
}
.desc{
  margin-top: 1.5rem;
}
/* .tag{
  color:
} */


.search-bar {
  width: 500px;
  margin:1rem auto 3rem auto;
}
.search-bar > input {
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0.6rem 1.4rem;
  width: 100%;
}